<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display"
          >
            Contact Us
          </p>
          <p class="text-base mt-4 text-zinc-500">
            Armed Inc. is dedicated to delivering excellent customer service. For urgent assistance, feel free to call or email us.
          </p>
        </div>
      </div>
      <div
        class="relative w-full mx-auto font-normal lg:col-span-2"
      >
        <div class="group bg-accent-100/25 p-8 rounded-2xl grid grid-cols-2 gap-y-2 text-gray-500">
          <h3 class="col-span-2 text-3xl mb-4 text-accent-800">Contact Details</h3>

          <form class="col-span-2 flex flex-col gap-4 text-accent-800" action="">
            <div class="flex flex-col text-accent-800 gap-2">
              <label class="font-bold" for="firstName">First Name</label>
              <input placeholder="Jane" type="text" class="rounded border-gray-200" name="firstName" id="firstName" required>
            </div>

            <div class="flex flex-col text-accent-800 gap-2">
              <label class="font-bold" for="lastName">Last Name</label>
              <input placeholder="Smith" type="text" class="rounded border-gray-200" name="lastName" id="lastName" required>
            </div>

            <div class="flex flex-col text-accent-800 gap-2">
              <label class="font-bold" for="email">Email</label>
              <input placeholder="email@example.com" type="email" class="rounded border-gray-200" name="email" id="email" required>
            </div>

            <div class="flex flex-col text-accent-800 gap-2">
              <label class="font-bold" for="message">Message</label>
              <textarea rows="5" placeholder="Your message..." name="message" class="rounded border-gray-200 resize-none" id="message" required />
            </div>

            <button class="px-8 mt-4 py-2 bg-accent-400 rounded-full w-fit text-white font-bold" type="submit">Submit</button>
          </form>

          <hr class="col-span-2 my-4 border-accent-100/50" />
          
          <strong class="text-accent-800">Telephone: </strong>
          <a class="hover:text-accent-800" href="tel:+821083277377">+(82)-10-8327-7377</a>
          
          <strong class="text-accent-800">Email: </strong>
          <a class="hover:text-accent-800" href="mailto:sales@armed.kr">sales@armed.kr</a>

          <hr class="col-span-2 my-4 border-accent-100/50" />

          <strong class="text-accent-800">Headquarters Address</strong>
          <a class="hover:text-accent-800" href="https://goo.gl/maps/HbhFe4XCTHxuxcEK7">6th floor, 43 Daeji-ro, Suji-gu, Yongin-si, Gyeonggi-do, South Korea 16872</a>

          <strong class="text-accent-800">EU Address</strong>
          <a class="hover:text-accent-800" href="https://goo.gl/maps/HbhFe4XCTHxuxcEK7">Aaltje Noordewierstraat 337, Den Haag, Netherlands, Post Code: 2551SH</a>
        </div>
      </div>
    </div>
  </div>
</section>
