---
import BaseLayout from "../layouts/BaseLayout.astro";
---



<BaseLayout>

  <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfBqrYKnjnVOUL-sW_Adyr7G6xd_V1EIW2FSdndszgY0ZnrSw/formResponse" method="post" class="grid gap-x-16 gap-y-8 grid-cols-2 lg:px-24 max-w-7xl md:px-12 px-8">
    <div class="flex flex-col gap-2">
      <label for="entry.97146974">Full name</label>
      <input type="text" name="entry.97146974" id="entry.97146974" required />
    </div>
    <div class="flex flex-col gap-2">
      <label for="entry.887534509">Email</label>
      <input type="email" name="entry.887534509" id="entry.887534509" required />
    </div>
    <div class="flex flex-col gap-2">
      <label for="entry.595716131">Work Place</label>
      <input type="text" name="entry.595716131" id="entry.595716131" required />
    </div>
    <div class="flex flex-col gap-2">
      <label for="entry.556289473">Position</label>
      <input type="text" name="entry.556289473" id="entry.556289473" required />
    </div>
    <div class="flex flex-col gap-2">
      <label for="entry.1713094458">Phone Number</label>
      <input type="tel" name="entry.556289473" id="entry.1713094458" required />
    </div>
    <div class="flex flex-col gap-2">
      <label for="entry.556289473">Position</label>
      <input type="text" name="entry.556289473" id="entry.556289473" required />
    </div>
    <div class="flex flex-col gap-2">
      <label for="entry.1467148622">Course</label>
      <select name="entry.1467148622" id="entry.1467148622" required>
        <option value="Бипортальная Эндоскопия - UBE (Busan)">Бипортальная Эндоскопия - UBE (Busan)</option>
        <option value="Mонопортальная Эндоскопия - PSLD (Seoul)">Mонопортальная Эндоскопия - PSLD (Seoul)</option>
        <option value="Артроскопия Суставов">Артроскопия Суставов</option>
        <option value="Малоинвазивные и Открытые Транспедикулярная Система">Малоинвазивные и Открытые Транспедикулярная Система</option>
        <option value="Детская Ортопедия">Детская Ортопедия</option>
        <option value="Травмы">Травмы</option>
      </select>
    </div>
    <div class="flex flex-col gap-2">
      <label for="entry.1205558924">Who are you?</label>
      <select name="entry.1205558924" id="entry.1205558924" required>
        <option value="Резидент">Резидент</option>
        <option value="Врач">Врач</option>
        <option value="Студент">Студент</option>
      </select>
    </div>
    <div>
      
    </div>
  
  </form>

</BaseLayout>
