---
import { Image } from 'astro:assets';
import logo from '../../assets/armed logo.svg';
import {Linkedin, Instagram, Facebook, Youtube} from 'lucide-astro'
---

<footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a
        href="/"
        class="xl:col-span-1 text-black inline-flex items-center gap-3">
        <Image src={logo} alt="Armed logo">
      </a>
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-3 md:gap-8 text-sm text-gray-400 lg:col-span-3">  
        <div>
          <h3 class="text-lg text-black font-medium tracking-tight">Socials</h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://www.linkedin.com/company/armed-inc/"
                class="hover:text-black flex gap-2 items-center">
                <Linkedin class="inline"/> LinkedIn
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/armed.kr"
                class="hover:text-black flex gap-2 items-center">
                <Instagram class="inline"/> Instagram
              </a>
            </li>
            <li>
              <a
                href="https://youtube.com/@armedinc?si=0cE18n1X5JFscY0g"
                class="hover:text-black flex gap-2 items-center">
                <Youtube class="inline"/> YouTube
              </a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/armed.kr?mibextid=LQQJ4d"
                class="hover:text-black flex gap-2 items-center">
                <Facebook class="inline"/> Facebook
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-black font-medium tracking-tight">
            All pages
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="/"
                class="hover:text-black">
                Home
              </a>
            </li>
            <li>
              <a
                href="/about"
                class="hover:text-black">
                About
              </a>
            </li>
            <li>
              <a
                href="/products"
                class="hover:text-black">
                Products
              </a>
            </li>
            <li>
              <a
                href="/education"
                class="hover:text-black">
                Education
              </a>
            </li>
            <li>
              <a
                href="/physicians"
                class="hover:text-black">
                Physicians
              </a>
            </li>
            <li>
              <a
                href="/patients"
                class="hover:text-black">
                Patients
              </a>
            </li>
            <li>
              <a
                href="/contact"
                class="hover:text-black">
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-black font-medium tracking-tight">Corporate Address</h3>
          <ul
            role="list"
            class="mt-4 space-y-2">
            <li>
              <a class="hover:text-black" href="https://goo.gl/maps/HbhFe4XCTHxuxcEK7">
                <strong>HQ Office:</strong> 6th floor, 43 Daeji-ro, Suji-gu, Yongin-si, Gyeonggi-do, South Korea 16872
              </a>
            </li>
            <li>
              <a class="hover:text-black" href="https://goo.gl/maps/yVcCWNmF5K6hu5f68">
                <strong>EU Office:</strong> Aaltje Noordewierstraat 337, Den Haag, Netherlands, Post Code: 2551SH
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>